
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <header>
    <img src="http://maui.hawaii.edu/mil/wp-content/uploads/2014/04/UHMC-Header.jpg" alt="uhmc" style="width:100%; height:auto;">
  </header>
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
    
    <body>
